
<div class="form-group">
    @Html.Label("Формат", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
    <div class="col-xs-4">
        @Html.DropDownList("formatId", ViewBag.Format as SelectList, "-Формат бумаги-", new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Кол-во страниц в упаковке", htmlAttributes: new { @class = "control-label col-xs-3 col-md-2" })
    <div class="col-xs-4">
        @Html.Editor("sheetsPerPackage", new { htmlAttributes = new { @class = "form-control", value = "500", autocomplete = "off", onkeypress="return event.charCode >= 48 && event.charCode <= 57" } })
    </div>
</div>