@{
    ViewBag.Title = "Vera";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="~/Content/normalize.css" />*@
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Style.css"/>
    <script type="text/javascript" src="~/Scripts/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/decimal.min.js"></script>
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44622946 = new Ya.Metrika({
                    id:44622946,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44622946" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    
<div class="container-fluid" style="margin-bottom: 61px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid main">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index" style="margin-left: 0;">Vera</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left" style="margin-right: 0;">
                    <li><a href="/Home/Index">Калькулятор</a></li>
                    <li><a href="/Inventory/Index">Инвентаризация</a></li>
                    <li><a href="/Editor/Index">Редактор</a></li>
                    <li>@*<a href="/Home/Login">Войти</a>*@</li>
                    <!--<li><button type="button" class="btn btn-default navbar-btn">Войти</button></li>-->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
</div>

<div class="container main">
    @RenderBody()
</div>

</body>
</html>
