

<div id="formingTypeBlock">
    <form name="block" method="POST">
        <h4>@Model.FormingTypeName тип формировки блока</h4>
        <div class="input-group myInputGroup">
            <span class="input-group-addon myInputGroupSpan" id="basic-addon1">Количество листов</span>
            <input type="text" class="form-control" id="countOfPage" aria-describedby="basic-addon1"
                   autocomplete="off"
                   onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
        </div>
        <br/>
        <div @if (Model.FormingTypeName == "Постраничный")
             { 
                 @: class="input-group hidden myInputGroup"
            } else { 
                 @: class="input-group myInputGroup"
            }>
            <span class="input-group-addon myInputGroupSpan" id="basic-addon2">Количество тетрадей</span>
            <input type="text" class="form-control" id="tetr" value="1" aria-describedby="basic-addon2"
                   autocomplete="off"
                   onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                   @if (Model.FormingTypeName == "Постраничный")
                   {    @: readonly="readonly"
                                                          } />
        </div>


        
        @*@if (Model.FormingTypeName == "Потетрадный")
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="fillister" value="Фальцовка">
                    Фальцовка
                </label>
            </div>
        }*@
        
        <h4>Печать блока</h4>
        @Html.Partial("_PrintPartial")
    </form>
</div>