

<div id="formingTypeBlock">
    <p>@Model.Name тип формировки блока</p>
    <form name="block" method="POST">
        <p>
            <b>Кол-во листов: </b>
        </p>
        <input  type="text"
                id="countOfPage"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
        @if (Model.Name == "Потетрадный")
        {
            <br/>
            <input type="checkbox" value="Фальцовка" readonly/>
            @:Фальцовка
            <p>
                <b>Кол-во тетрадей: </b>
            </p>
        }
        <input type="text" id="tetr"
               value="1"
               onkeypress='return event.charCode >= 48 && event.charCode <= 57'
               @if (Model.Name == "Постраничный")
                                     {
                                         @:readonly
                                         @:hidden
                                     } />
        <br/>

        <p>Подбор блока: </p>
        <span id="countOfPagePrice"></span>

        <p>Формировка блока: </p>
        <span id="blockPrice"></span>
    </form>
</div>