<div id="formingTypeBlock">
    <p>@Model.Name тип формировки блока</p>
    <form name="block" method="POST">
        <p>
            <b>Кол-во листов: </b>
        </p>
        <input type="text"/>
        @if (Model.Name == "Потетрадный")
        {
            <br/>
            <input type="checkbox" value="Фальцовка" readonly/>
            @:Фальцовка
            <p>
                <b>Кол-во тетрадей: </b>
            </p>
        }
        <input type="text" id="tetr" 
               onkeypress='return event.charCode >= 48 && event.charCode <= 57'
               @if (Model.Name == "Постраничный")
                                     {
                                         @:value = "1"
                                         @:readonly
                                         @:hidden
                                     } />
        <br/>

        <p>Блок: </p>

        <span id="blockPrice"></span>
        <!--<input type="submit" value="Отправить"/>-->
    </form>

    <script type="text/javascript">
        $(function () {
            $('#tetr').on('keyup input', function () {
                var tetrCountStr = $(this).val();
                var formingType = $('#FormingType').val();
                //var tetrCountInt = parseInt(tetrCountStr);
                //console.log(tetrCountInt);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetSewingPrice")/' + tetrCountStr + formingType,
                    success: function (data) {
                        console.log("data: ");
                        console.log(data);
                        $('#blockPrice').empty();
                        $('#blockPrice').text(data);
                    }
                });
            });
        });
    </script>
</div>