@using System.Data.SqlClient
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<div style="margin: 0 auto; width: 600px; border: 1px solid gainsboro; text-align: center;">
  <h1>Формат</h1>
  @Html.DropDownList("Format", "--Выберите формат--")<Br/>
  <h1>Блок</h1>
  <h2>Формировка блока</h2>
  @Html.DropDownList("FormingType", "--Выберите тип формировки блока--")<br/>
    
  Стоимость изделия: <h2 id="text_comment">Text comment</h2>
</div>







<script>
    $("#Format").change(function() {
        var str = "";
        $("#Format option:selected").each(function() {
            str += $(this).text() + "\n";
        });
        $("#text_comment").text(str);
        $.ajax({
            method: "POST",
            url: '',
            dataType: 'json',
            data:{
                selected: str
            },
            success: function(data, textStatus) {
                $('#text_comment').text(textStatus);
            }
        });
    })
    .trigger('change');
</script>

</body>
</html>