@using System.Data.SqlClient
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<div style="margin: 0 auto; width: 600px; border: 1px solid gainsboro; text-align: center;">
  <h1>Формат</h1>
  @Html.DropDownList("Format", "--Выберите формат--")<Br/>
  <h2 id="price"></h2>
</div>

<script type="text/javascript">
    $(function () {
        $('#Format').change(function () {
            // получаем выбранный id
            var id = $(this).val();
            console.log(id);    // -
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SetGluePrice")/' + id,
                success: function (data) {
                    $('#price').text(data);// заменяем содержимое присланным частичным представлением
                }
            });
        });
    })
</script>

</body>
</html>