
@{
    ViewBag.Title = "Редактор";
}


<div class="container-fluid">
    <h2>Редактор</h2>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/worker.png" alt="...">
                <div class="caption">
                    <h3>Работа</h3>
                    <p>Посмотреть список и изменить стоимость выполнения определенного типа работ.</p>
                    <p><a href="/Jobs/Index" class="btn btn-primary" role="button">Редактировать</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/Images/printer.png" alt="...">
                <div class="caption">
                    <h3>Печать</h3>
                    <p>Посмотреть стоимость печати формата, а также изменить её при необходимости.</p>
                    <p><a href="/Printing/Index" class="btn btn-primary" role="button">Редактировать</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>